<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068925060957-42vs9dhks5225lp69bbmkneeoba2g47p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068925060957-42vs9dhks5225lp69bbmkneeoba2g47p</string>
	<key>API_KEY</key>
	<string>AIzaSyD8sagn_trwqJVcrvB9D5LWcL_wEB81x8o</string>
	<key>GCM_SENDER_ID</key>
	<string>1068925060957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hungryHandsDriver</string>
	<key>PROJECT_ID</key>
	<string>hungryhandsdriver</string>
	<key>STORAGE_BUCKET</key>
	<string>hungryhandsdriver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068925060957:ios:f2c0af6c12c3f15f9fcab4</string>
</dict>
</plist>